# Taller de Dimensiones 

Laura Alejandra Torres Giraldo

In [1]:
import pandas as pd
import requests
import sqlite3
conn = sqlite3.connect('Educacion.db')
# Cargar datos 
api_url = "https://www.datos.gov.co/resource/nudc-7mev.json?$limit=14585"
response = requests.get(api_url)
data = response.json()
df_educacion= pd.DataFrame(data)
df_educacion.head(7)

,a_o,c_digo_municipio,municipio,c_digo_departamento,departamento,c_digo_etc,etc,poblaci_n_5_16,tasa_matriculaci_n_5_16,cobertura_neta,...,reprobaci_n_primaria,reprobaci_n_secundaria,reprobaci_n_media,repitencia,repitencia_transici_n,repitencia_primaria,repitencia_secundaria,repitencia_media,tama_o_promedio_de_grupo,sedes_conectadas_a_internet
0,2023,05004,Abriaquí,05,Antioquia,3758,Antioquia (ETC),503,62.62,62.62,...,1.96,16.51,2.04,9.52,0,10.46,13.76,2.04,NaN,NaN
1,2023,95025,El Retorno,95,Guaviare,3830,Guaviare (ETC),4438,53.27,53.27,...,7.11,9.39,1.75,9.34,6.95,11.84,8.48,3.16,NaN,NaN
2,2023,95200,Miraflores,95,Guaviare,3830,Guaviare (ETC),2014,32.52,32.52,...,6.93,14.13,7.81,8.65,6.67,9.04,10.25,1.54,NaN,NaN
3,2023,97001,Mitú,97,Vaupés,3831,Vaupés (ETC),10986,59.57,59.57,...,4.04,8.33,4.6,16.18,7.75,21.04,13.84,7.18,NaN,NaN
4,2023,97161,Caruru,97,Vaupés,3831,Vaupés (ETC),1228,51.3,51.3,...,7.32,15.28,7.27,9.24,2.86,7.62,14.85,3.64,NaN,NaN
5,2023,97511,Pacoa,97,Vaupés,3831,Vaupés (ETC),1678,54.29,54.29,...,0,0,0,23.21,25.86,30.3,14.25,6.59,NaN,NaN
6,2023,97666,Taraira,97,Vaupés,3831,Vaupés (ETC),814,22.6,22.6,...,0,0,0,21.58,13.33,22.29,0,0,NaN,NaN

In [2]:
cursor = conn.cursor()
def ejecutar_sql(query, conexion=conn):
  """
  Toma una consulta SQL, la ejecuta y devuelve el resultado
  en una tabla de pandas para una visualización clara.
  """
  df = pd.read_sql_query(query, conexion)
  # Usamos display() porque en Colab presenta las tablas de forma más elegante.
  display(df)

In [3]:
df_educacion = df_educacion.rename(columns={
    'c_digo_departamento': 'codigo_departamento',
    'departamento': 'departamento',
    'c_digo_municipio': 'codigo_municipio',
    'municipio': 'municipio',
    'c_digo_etc': 'codigo_etc',
    'etc': 'etc',
    'a_o': 'año',
    'deserci_n_transici_n': 'desercion_transicion',
    'deserci_n_media': 'desercion_media',
    'deserci_n_secundaria': 'desercion_secundaria',
    'deserci_n_primaria': 'desercion_primaria',
    'repitencia_transici_n': 'repitencia_transicion',
    'repitencia_secundaria': 'repitencia_secundaria',
    'reprobaci_n_media': 'reprobacion_media',
    'repitencia_primaria': 'repitencia_primaria',
    'repitencia': 'repitencia',
    'repitencia_media': 'repitencia_media',
    'deserci_n': 'desercion',
    'reprobaci_n_secundaria': 'reprobacion_secundaria',
    'cobertura_bruta_media': 'cobertura_bruta_media',
    'tasa_matriculaci_n_5_16': 'tasa_matriculacion_5_16',
    'cobertura_neta': 'cobertura_neta',
    'cobertura_bruta_transici_n': 'cobertura_bruta_transicion',
    'reprobaci_n_primaria': 'reprobacion_primaria',
    'cobertura_bruta_primaria': 'cobertura_bruta_primaria',
    'cobertura_neta_primaria': 'cobertura_neta_primaria',
    'reprobaci_n': 'reprobacion',
    'aprobaci_n_transici_n': 'aprobacion_transicion',
    'reprobaci_n_transici_n': 'reprobacion_transicion',
    'aprobaci_n_media': 'aprobacion_media',
    'cobertura_bruta_secundaria': 'cobertura_bruta_secundaria',
    'cobertura_neta_secundaria': 'cobertura_neta_secundaria',
    'cobertura_neta_media': 'cobertura_neta_media',
    'cobertura_bruta': 'cobertura_bruta',
    'cobertura_neta_transici_n': 'cobertura_neta_transicion',
    'aprobaci_n_secundaria': 'aprobacion_secundaria',
    'tama_o_promedio_de_grupo': 'tamano_promedio_grupo',
    'sedes_conectadas_a_internet': 'sedes_conectadas_internet'
})

In [4]:
ft = pd.DataFrame(df_educacion.isnull().sum()).reset_index()
ft.columns = ["Variable","Faltantes"]
ft = ft.sort_values(["Faltantes"],ascending=False)
ft.index = range(ft.shape[0])
ft["% Faltantes"] = ft["Faltantes"] * 100 / df_educacion.shape[0]
ft.head(33)

                      Variable  Faltantes  % Faltantes
0        tamano_promedio_grupo       7013    48.083648
1    sedes_conectadas_internet       6817    46.739801
2         desercion_transicion        903     6.191292
3              desercion_media        734     5.032568
4         desercion_secundaria        270     1.851217
5           desercion_primaria        242     1.659239
6        repitencia_transicion        159     1.090161
7        repitencia_secundaria        152     1.042167
8          repitencia_primaria        148     1.014741
9            reprobacion_media        145     0.994172
10                  repitencia        143     0.980459
11                   desercion        142     0.973603
12            repitencia_media        139     0.953034
13       cobertura_bruta_media        127     0.870758
14     tasa_matriculacion_5_16        115     0.788481
15              cobertura_neta        111     0.761056
16      reprobacion_secundaria        106     0.726774
17            aprobacion_media        101     0.692492
18  cobertura_bruta_transicion         97     0.665067
19        reprobacion_primaria         97     0.665067
20   cobertura_neta_secundaria         94     0.644498
21        cobertura_neta_media         93     0.637641
22       aprobacion_transicion         93     0.637641
23      reprobacion_transicion         93     0.637641
24     cobertura_neta_primaria         91     0.623929
25  cobertura_bruta_secundaria         88     0.603360
26                 reprobacion         86     0.589647
27    cobertura_bruta_primaria         81     0.555365
28             cobertura_bruta         68     0.466232
29       aprobacion_secundaria         54     0.370243
30   cobertura_neta_transicion         52     0.356531
31         aprobaci_n_primaria         25     0.171409
32                  aprobaci_n         25     0.171409

In [5]:
Total = len(df_educacion)
Var10mas = (df_educacion.isna().sum(axis=1) > 10).sum()
print(f"Eliminarías {Var10mas} filas de {Total} ({round(Var10mas/Total*100, 2)}%)")

Eliminarías 57 filas de 14585 (0.39%)

In [6]:
def ajuste_cod_dpto(codigo):
    if len(codigo)==1:
        codigo = '0' + codigo
    return codigo
df_educacion['codigo_departamento'] = df_educacion['codigo_departamento'].apply(ajuste_cod_dpto)

In [7]:
def ajuste_cod_mpo(codigo):
    if len(codigo)==4:
        codigo = '0' + codigo
    return codigo

In [8]:
tabla_deptos = (
    df_educacion
    .query("departamento != 'NACIONAL'")
    [['codigo_departamento', 'departamento']]
    .drop_duplicates(subset='codigo_departamento', keep='first')
)
mapa_deptos = dict(zip(tabla_deptos['codigo_departamento'], tabla_deptos['departamento']))
df_educacion['departamento'] = df_educacion['codigo_departamento'].map(mapa_deptos)

En esta etapa se eliminaron los registros duplicados según el código de departamento. Para garantizar la consistencia, se agregó un cero a la izquierda en aquellos códigos que presentaban un solo dígito, dado que los códigos de departamento deben tener dos dígitos. Asimismo, se excluyeron los registros correspondientes al valor "NACIONAL" y se evaluaron los datos con el fin de identificar aquellos que presentan más de 10 columnas con valores faltantes.

In [9]:
ColumnasConvertir = df_educacion.columns[7:41]
for col in ColumnasConvertir:
    df_educacion[col] = pd.to_numeric(df_educacion[col], errors='coerce')

In [10]:
df_educacion.dtypes

año                            object
codigo_municipio               object
municipio                      object
codigo_departamento            object
departamento                   object
codigo_etc                     object
etc                            object
poblaci_n_5_16                float64
tasa_matriculacion_5_16       float64
cobertura_neta                float64
cobertura_neta_transicion     float64
cobertura_neta_primaria       float64
cobertura_neta_secundaria     float64
cobertura_neta_media          float64
cobertura_bruta               float64
cobertura_bruta_transicion    float64
cobertura_bruta_primaria      float64
cobertura_bruta_secundaria    float64
cobertura_bruta_media         float64
desercion                     float64
desercion_transicion          float64
desercion_primaria            float64
desercion_secundaria          float64
desercion_media               float64
aprobaci_n                    float64
aprobacion_transicion         float64
aprobaci_n_primaria           float64
aprobacion_secundaria         float64
aprobacion_media              float64
reprobacion                   float64
reprobacion_transicion        float64
reprobacion_primaria          float64
reprobacion_secundaria        float64
reprobacion_media             float64
repitencia                    float64
repitencia_transicion         float64
repitencia_primaria           float64
repitencia_secundaria         float64
repitencia_media              float64
tamano_promedio_grupo         float64
sedes_conectadas_internet     float64
dtype: object

In [11]:
filas_incompletas = df_educacion[df_educacion.isna().sum(axis=1) > 10]
df_educacion = df_educacion[df_educacion.isna().sum(axis=1) <= 10]

In [12]:
ft = pd.DataFrame(df_educacion.isnull().sum()).reset_index()
ft.columns = ["Variable","Faltantes"]
ft = ft.sort_values(["Faltantes"],ascending=False)
ft.index = range(ft.shape[0])
ft["% Faltantes"] = ft["Faltantes"] * 100 / df_educacion.shape[0]
ft.head(32)

                      Variable  Faltantes  % Faltantes
0        tamano_promedio_grupo       6969    47.969438
1    sedes_conectadas_internet       6792    46.751101
2         desercion_transicion        855     5.885187
3              desercion_media        681     4.687500
4         desercion_secundaria        219     1.507434
5           desercion_primaria        198     1.362885
6        repitencia_transicion        124     0.853524
7        repitencia_secundaria        123     0.846641
8          repitencia_primaria        120     0.825991
9            reprobacion_media        120     0.825991
10                  repitencia        113     0.777808
11            repitencia_media        109     0.750275
12                   desercion        100     0.688326
13      reprobacion_secundaria         81     0.557544
14       cobertura_bruta_media         77     0.530011
15     tasa_matriculacion_5_16         74     0.509361
16              cobertura_neta         72     0.495595
17  cobertura_bruta_transicion         69     0.474945
18        reprobacion_primaria         65     0.447412
19    cobertura_bruta_primaria         56     0.385463
20     cobertura_neta_primaria         55     0.378579
21                 reprobacion         54     0.371696
22       aprobacion_transicion         52     0.357930
23      reprobacion_transicion         52     0.357930
24            aprobacion_media         50     0.344163
25  cobertura_bruta_secundaria         49     0.337280
26   cobertura_neta_secundaria         45     0.309747
27        cobertura_neta_media         43     0.295980
28             cobertura_bruta         36     0.247797
29   cobertura_neta_transicion         27     0.185848
30       aprobacion_secundaria         14     0.096366
31                departamento          3     0.020650

Se eliminaron las filas que presentaban 10 o más variables con datos faltantes, ya que estas no aportan suficiente información útil para el análisis. Al revisar los registros eliminados, se identificó que la mayoría pertenecen a departamentos con baja densidad poblacional, como Guainía, Vaupés y Amazonas. En particular, el municipio de Papunaua aparece en varios años sin datos en la mayoría de las variables, lo que sugiere dificultades estructurales en la recolección o reporte de información educativa en esa zona. Esta decisión de limpieza busca conservar la calidad del análisis, manteniendo registros más completos y representativos.

In [13]:
ColumnsImputar = [
    'desercion_transicion', 'desercion_media', 'desercion_secundaria',
    'desercion_primaria', 'repitencia_transicion', 'repitencia_secundaria',
    'reprobacion_media', 'repitencia_primaria', 'repitencia', 'repitencia_media',
    'desercion', 'reprobacion_secundaria', 'cobertura_bruta_media',
    'tasa_matriculacion_5_16', 'cobertura_neta', 'cobertura_bruta_transicion',
    'reprobacion_primaria', 'cobertura_bruta_primaria', 'cobertura_neta_primaria',
    'reprobacion', 'aprobacion_transicion', 'reprobacion_transicion',
    'aprobacion_media', 'cobertura_bruta_secundaria', 'cobertura_neta_secundaria',
    'cobertura_neta_media', 'cobertura_bruta', 'cobertura_neta_transicion',
    'aprobacion_secundaria'
]

df_imputado = df_educacion.copy()

for col in ColumnsImputar:
    df_imputado[col] = df_imputado.groupby('codigo_departamento')[col].transform(
        lambda x: x.fillna(x.median(skipna=True))
    )

In [14]:

comparacion_medianas = pd.DataFrame({
    "Columna": ColumnsImputar,
    "Mediana Original (con nulos)": [df_educacion[col].median(skipna=True) for col in ColumnsImputar],
    "Mediana Imputada": [df_imputado[col].median() for col in ColumnsImputar]
})

comparacion_medianas["Diferencia absoluta"] = (
    comparacion_medianas["Mediana Imputada"] - comparacion_medianas["Mediana Original (con nulos)"]
)

comparacion_medianas["Diferencia relativa (%)"] = (
    100 * comparacion_medianas["Diferencia absoluta"] / (comparacion_medianas["Mediana Original (con nulos)"] + 1e-5)
).round(2)

comparacion_medianas

,Columna,Mediana Original (con nulos),Mediana Imputada,Diferencia absoluta,Diferencia relativa (%)
0,desercion_transicion,3.000,2.960,-0.040,-1.33
1,desercion_media,2.840,2.820,-0.020,-0.70
2,desercion_secundaria,4.040,4.040,0.000,0.00
3,desercion_primaria,2.315,2.300,-0.015,-0.65
4,repitencia_transicion,0.000,0.000,0.000,0.00
5,repitencia_secundaria,2.740,2.760,0.020,0.73
6,reprobacion_media,3.110,3.130,0.020,0.64
7,repitencia_primaria,1.880,1.900,0.020,1.06
8,repitencia,2.160,2.180,0.020,0.93
9,repitencia_media,0.880,0.880,0.000,0.00
10,desercion,3.130,3.130,0.000,0.00
11,reprobacion_secundaria,6.170,6.200,0.030,0.49
12,cobertura_bruta_media,75.270,75.200,-0.070,-0.09
13,tasa_matriculacion_5_16,85.360,85.360,0.000,0.00
14,cobertura_neta,86.400,86.400,0.000,0.00
15,cobertura_bruta_transicion,85.240,85.315,0.075,0.09
16,reprobacion_primaria,3.330,3.360,0.030,0.90
17,cobertura_bruta_primaria,103.380,103.400,0.020,0.02
18,cobertura_neta_primaria,82.860,82.840,-0.020,-0.02
19,reprobacion,4.520,4.540,0.020,0.44
20,aprobacion_transicion,0.000,0.000,0.000,0.00
21,reprobacion_transicion,0.000,0.000,0.000,0.00
22,aprobacion_media,93.280,93.260,-0.020,-0.02
23,cobertura_bruta_secundaria,101.580,101.600,0.020,0.02
24,cobertura_neta_secundaria,70.900,70.900,0.000,0.00
25,cobertura_neta_media,41.180,41.140,-0.040,-0.10
26,cobertura_bruta,97.505,97.520,0.015,0.02
27,cobertura_neta_transicion,57.930,57.940,0.010,0.02
28,aprobacion_secundaria,89.085,89.080,-0.005,-0.01

In [15]:
columnas_omitir = ['tamano_promedio_grupo', 'sedes_conectadas_internet']

Data = df_imputado.drop(columns=columnas_omitir)

Se decidió omitir las variables tamaño_promedio_de_grupo y sedes_conectadas_a_internet debido a que presentaban un alto porcentaje de valores faltantes (cerca del 50%) y no eran relevantes para los objetivos del análisis. Las demás variables, al tener un porcentaje bajo de valores faltantes, fueron imputadas utilizando la mediana como método de estimación. Se realizó una imputación por departamento, ya que esto permite conservar las particularidades territoriales y evita sesgos al asumir que el comportamiento educativo es homogéneo a nivel nacional. Esta estrategia mejora la representatividad de los datos imputados y respeta las diferencias estructurales entre regiones.

## Información adicional

In [16]:
datos_2005_2019 = pd.read_excel("C:\\Users\\L e n o v o\\Diplomado\\Datos\\DCD-area-proypoblacion-Mun-2005-2019.xlsx",
    skiprows=11)
datos_2020_2035 = pd.read_excel("C:\\Users\\L e n o v o\\Diplomado\\Datos\\DCD-area-proypoblacion-Mun-2020-2035-ActPostCOVID-19.xlsx",
    skiprows=8)

In [17]:
datos_2005_2019.to_sql("informacion_antes_pandemia",conn, if_exists="replace", index=False)
datos_2020_2035.to_sql("informacion_despues_pandemia",conn, if_exists="replace", index=False)

53859

In [18]:
datos_2005_2019.head()

,DP,DPNOM,DPMP,MPIO,AÑO,ÁREA GEOGRÁFICA,Población
0,5,Antioquia,Medellín,5001,2005,Cabecera Municipal,1997763
1,5,Antioquia,Medellín,5001,2005,Centros Poblados y Rural Disperso,48578
2,5,Antioquia,Medellín,5001,2005,Total,2046341
3,5,Antioquia,Abejorral,5002,2005,Cabecera Municipal,7158
4,5,Antioquia,Abejorral,5002,2005,Centros Poblados y Rural Disperso,15784

In [19]:
Datos1=datos_2005_2019[datos_2005_2019['ÁREA GEOGRÁFICA'] == 'Total']
Datos2=datos_2020_2035[datos_2020_2035['ÁREA GEOGRÁFICA'] == 'Total']
Data_Poblacional = pd.concat([Datos1, Datos2], ignore_index=True)

In [20]:
Data_Poblacional.head()

  DP      DPNOM        DPMP    MPIO     AÑO ÁREA GEOGRÁFICA  Población
0  5  Antioquia    Medellín  5001.0  2005.0           Total  2046341.0
1  5  Antioquia   Abejorral  5002.0  2005.0           Total    22942.0
2  5  Antioquia    Abriaquí  5004.0  2005.0           Total     2719.0
3  5  Antioquia  Alejandría  5021.0  2005.0           Total     4724.0
4  5  Antioquia       Amagá  5030.0  2005.0           Total    27121.0

# Dimensiones

# 2.

In [21]:
Dimmunicipio = Data[['codigo_municipio', 'municipio']].drop_duplicates().reset_index(drop=True)
Dimmunicipio['id_municipio'] = Dimmunicipio.index + 1  
DimDepartamento = Data[['codigo_departamento', 'departamento']].drop_duplicates().reset_index(drop=True)
DimDepartamento['id_Departamento'] = DimDepartamento.index + 1  
Dimetc = Data[['codigo_etc', 'etc']].drop_duplicates().reset_index(drop=True)
Dimetc['id_etc'] = Dimetc.index + 1  
DimTiemp = Data[['año']].drop_duplicates().reset_index(drop=True)
DimTiemp['id_Tiempo'] = DimTiemp.index + 1

Creamos cuatro tablas dimensionales: una para los municipios, otra para los departamentos, una para las ETC y una para el tiempo (años). En cada una eliminamos los duplicados y asignamos un identificador numérico único (llave subrogada). Estas tablas nos permitirán conectar la información de forma organizada en la tabla de hechos.

# Tabla de hechos 
3.

In [22]:
df_hechos = Data.copy()
df_hechos = df_hechos.merge(Dimmunicipio, on=['codigo_municipio', 'municipio'], how='left')
df_hechos = df_hechos.merge(DimDepartamento, on=['codigo_departamento', 'departamento'], how='left')
df_hechos = df_hechos.merge(Dimetc, on=['codigo_etc', 'etc'], how='left')
df_hechos = df_hechos.merge(DimTiemp, on=['año'], how='left')

In [23]:
ColumnasFinales = df_hechos.columns[7:45].tolist()
TablaHechos = df_hechos[ColumnasFinales].copy()

In [24]:
TablaHechos.head()

,poblaci_n_5_16,tasa_matriculacion_5_16,cobertura_neta,cobertura_neta_transicion,cobertura_neta_primaria,cobertura_neta_secundaria,cobertura_neta_media,cobertura_bruta,cobertura_bruta_transicion,cobertura_bruta_primaria,...,reprobacion_media,repitencia,repitencia_transicion,repitencia_primaria,repitencia_secundaria,repitencia_media,id_municipio,id_Departamento,id_etc,id_Tiempo
0,503.0,62.62,62.62,44.19,63.33,51.53,40.23,66.80,58.14,72.86,...,2.04,9.52,0.00,10.46,13.76,2.04,1,1,1,1
1,4438.0,53.27,53.27,33.91,48.89,44.90,21.30,62.98,54.20,65.19,...,1.75,9.34,6.95,11.84,8.48,3.16,2,2,2,1
2,2014.0,32.52,32.52,17.58,25.33,26.43,10.75,38.58,36.36,37.28,...,7.81,8.65,6.67,9.04,10.25,1.54,3,2,2,1
3,10986.0,59.57,59.57,42.76,55.95,43.51,17.06,70.65,64.90,76.96,...,4.60,16.18,7.75,21.04,13.84,7.18,4,3,3,1
4,1228.0,51.30,51.30,76.32,52.29,33.71,11.94,55.54,92.11,65.21,...,7.27,9.24,2.86,7.62,14.85,3.64,5,3,3,1

### Información adicional

# Consultas SQL

In [25]:
df_hechos.to_sql("hechos", conn, if_exists="replace", index=False)
Dimmunicipio.to_sql("Dimmunicipio", conn, if_exists="replace", index=False)
DimDepartamento.to_sql("DimDepartamento", conn, if_exists="replace", index=False)
Dimetc.to_sql("Dimetc", conn, if_exists="replace", index=False)
DimTiemp.to_sql("DimTiemp", conn, if_exists="replace", index=False)

13

# Respecto a la población del municipio ¿Que porcentaje de escolaridad hay?

In [26]:
consulta_1 = """
SELECT 
    dm.municipio,
    AVG(f.tasa_matriculacion_5_16) AS Promedio_escolaridad
FROM 
    hechos f
JOIN 
    Dimmunicipio dm ON f.id_municipio = dm.id_municipio
WHERE 
    dm.municipio <> 'NACIONAL'
GROUP BY 
    dm.municipio
ORDER BY 
    Promedio_escolaridad DESC;
"""
ejecutar_sql(consulta_1)

       municipio  Promedio_escolaridad
0           Cota            185.105000
1      La Calera            144.078462
2        Salento            139.272308
3          Tenjo            134.857692
4        Fúquene            128.590769
...          ...                   ...
1031    Morichal             43.188333
1032  El Encanto             40.983077
1033  Mapiripana             32.585556
1034   Pana Pana             30.710000
1035    Papunaua              0.000000

[1036 rows x 2 columns]

Los hallazgos que encontramos del porcentaje de escolaridad de la población entre 5 y 16 años es las diferencias territoriales en el acceso al sistema educativo. Municipios como Cota (209.95%) y Tenjo (149.60%) presentan tasas superiores al 100%, lo que puede atribuirse segun la informacion de Datos Abiertos a flujos migratorios internos no capturados por las proyecciones del DANE o a su rol como centros educativos regionales. En contraste, territorios como Papunaua (0.0%) y Pana Pana (27.5%) reflejan coberturas extremadamente bajas, lo que sugiere barreras estructurales de acceso, posibles vacíos institucionales o subregistro de datos. Estas variaciones resaltan la necesidad de mejorar estos porcentajes para garantizar el derecho a la educación de manera equitativa.

In [27]:
Data_Poblacional.to_sql("DimPoblacionTotal", conn, if_exists='replace', index=False)

34782

# ¿Cómo compararía el rendimiento educativo por municipios?

In [28]:
consulta_2 = """
SELECT 
    dm.municipio,
    AVG(f.aprobaci_n) AS promedio_aprobacion,
    AVG(f.reprobacion) AS promedio_reprobacion,
    AVG(f.repitencia) AS promedio_repitencia
FROM 
    hechos f
JOIN 
    Dimmunicipio dm ON f.id_municipio = dm.id_municipio
WHERE 
    dm.municipio <> 'NACIONAL'
GROUP BY 
    dm.municipio
ORDER BY 
    promedio_aprobacion DESC;
"""
ejecutar_sql(consulta_2)

,municipio,promedio_aprobacion,promedio_reprobacion,promedio_repitencia
0,Puerto Arica,99.111111,0.042222,8.258889
1,Tibirita,98.415385,0.427692,0.832308
2,La Palma,98.276154,0.199231,1.580769
3,Guatavita,98.272308,0.274615,2.616154
4,Chaguaní,98.187692,0.159231,2.996154
...,...,...,...,...
1031,Inírida,77.081538,14.642308,6.173077
1032,Morichal,76.899167,10.742083,5.158333
1033,Cacahual,75.590000,14.576250,5.862500
1034,Mapiripana,73.242222,16.695556,6.293333
1035,Papunaua,0.000000,0.000000,0.000000

La forma en que se comparó el rendimiento educativo entre municipios fue a través de tres indicadores: la tasa de aprobación, reprobación y repitencia. Estos nos dan una idea general de cómo les está yendo a los estudiantes en cada uno de los municipios, si están logrando avanzar en su proceso educativo o si, por el contrario, están enfrentando barreras que los hacen repetir o reprobar.

Por ejemplo, municipios como Puerto Arica y Tibirita presentan tasas de aprobación muy altas, lo cual puede reflejar un buen acompañamiento académico, condiciones favorables para el aprendizaje o incluso una gestión educativa más sólida. En cambio, en lugares como Mapiripana o Cacahual, las tasas de reprobación y repitencia son más altas, lo que podría estar relacionado con problemas estructurales, falta de acceso a recursos educativos o dificultades en la permanencia escolar.

# ¿Que departamentos son los que mejor cobertura tienen? ¿Pueden hacer cálculo con SQL?

In [29]:
consulta_3 = """
SELECT 
    dd.departamento,
    AVG(f.cobertura_neta) AS promedio_cobertura_neta,
    AVG(f.cobertura_bruta) AS promedio_cobertura_bruta
FROM 
    hechos f
JOIN 
    DimDepartamento dd ON f.id_Departamento = dd.id_Departamento
GROUP BY 
    dd.departamento
ORDER BY 
    promedio_cobertura_neta DESC;
"""
ejecutar_sql(consulta_3)

,departamento,promedio_cobertura_neta,promedio_cobertura_bruta
0,Quindio,94.579615,109.717500
1,Sucre,93.849172,111.073136
2,Cesar,93.746646,108.453831
3,Magdalena,93.284846,113.807513
4,Meta,90.751326,102.398289
5,"Bogotá, D.C.",89.493077,96.255385
6,Tolima,89.239083,99.656547
7,Casanare,88.588502,98.667976
8,Cundinamarca,88.553465,100.222060
9,Antioquia,88.102617,100.172445
10,Córdoba,88.058109,101.774119
11,Atlántico,87.573154,97.780738
12,Bolívar,87.483389,101.205940
13,Santander,87.081724,98.506499
14,Huila,86.456154,95.053160
15,Risaralda,86.099121,99.765440
16,Boyacá,84.534171,94.500397
17,Caldas,84.112707,95.677436
18,Norte de Santander,83.667592,95.160636
19,Valle del Cauca,83.251593,96.530897
20,Arauca,82.408791,92.921758
21,"Archipiélago de San Andrés, Providencia y Sant...",82.218462,87.215000
22,La Guajira,81.725846,92.484051
23,Putumayo,80.835562,92.023787
24,Chocó,80.736846,98.642513
25,Vichada,80.674038,88.966154
26,Cauca,79.492418,94.888095
27,Nariño,78.003714,88.481298
28,Caquetá,77.631587,88.192212
29,Guainía,62.534362,72.710319
30,Amazonas,61.852244,68.217087
31,Guaviare,61.773654,71.737885
32,Vaupés,59.794412,69.368971
33,None,0.920733,10334.333333

Para identificar qué departamentos tienen mejor cobertura educativa hacemos una consulta en SQL, en la que se revisaron dos indicadores clave: la cobertura neta (que mide cuántos niños y jóvenes entre 5 y 16 años están realmente asistiendo al sistema educativo) y la cobertura bruta (que incluye a toda la población matriculada, sin importar si están dentro del rango de edad esperado). A partir de esto, se promedió cada indicador por departamento y se ordenó de mayor a menor.

Al observar los datos, departamentos como Quindío, Sucre, Cesar y Magdalena se destacan por tener las coberturas netas más altas, lo que indica que la mayoría de los niños en edad escolar sí están estudiando. Además, sus coberturas brutas superan el 100%, lo que se puede deber a las proyecciones del DANE que no capturan del todo bien los flujos migratorios. Bogotá, aunque tiene buenos indicadores, no está en los primeros puestos, y departamentos como Guainía, Amazonas, Guaviare y Vaupés presentan las coberturas más bajas, lo cual pone en evidencia las brechas de acceso en regiones apartadas.